<section>
    <div class="section-container">
        <div class="back">
            <a routerLink="">
                Retour
            </a>
        </div>
        <h1>S'enregistrer</h1>

        <form id="create-user" (ngSubmit)="onSubmitCreateUser()" ngNativeValidate>
            <div class="create-user"><label>Pseudo</label><input type="text"
                    name="username" [(ngModel)]="username" required></div>
            <div class="create-user"><label>Mot de passe</label><input type="password"
                    name="password" [(ngModel)]="password" required></div>
            <div class="create-user">
                <button>Valider</button>
            </div>
        </form>
    </div>

</section>
