<header>
    <div class="accueil">
        <h2>FAQ</h2>
        <a routerLink="">Accueil</a>
        <a *ngIf=!authentService.isLogged() [routerLink]="['/user']" >S'inscrire</a>
    </div>
    <div>
        <form (keyup)="onKeyupSearch()">
            <input placeholder="Rechercher une question..." name="search" [(ngModel)]="search">
            <!-- <button>Rechercher</button> -->
        </form>
    </div>
    <div>
        <nav>
            <ul>
                <li>
                    <a *ngIf=!authentService.isLogged() [routerLink]="['/login']">Connexion</a>
                </li>
                <li>
                    <a *ngIf=authentService.isLogged() (click)="authentService.logout()">Deconnexion</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
