<section>
    <div class="section-container">
        <div class="back">
            <a routerLink="">
                Retour
            </a>
        </div>
        <h1>Postez votre réponse</h1>

        <form id="create-answer" (ngSubmit)="onSubmitCreateAnswer()" ngNativeValidate>
            
            <div class="create-answer"><label for="content">Contenu</label><textarea rows="7"
                name="content" [(ngModel)]="content" required></textarea>
            </div>
            <div class="create-answer">
                <button>Ajouter la réponse</button>
            </div>
        </form>
    </div>

</section>
