

<section *ngIf ="question" >
    <div class="question-group">
        <h3>{{question.title}}</h3>
        <p>Postée par {{question.user.username}} </p>
        <p>{{question.content}}</p>
        <button *ngIf = "authentService.isLogged()" [routerLink]="['/answers/create', question.id]">Ajouter une réponse</button>
    </div>
</section>

<section *ngIf="answerService.answers">
    <div class="answer-group" *ngFor="let answer of answerService.answers">
        <app-answer [answer]="answer"></app-answer>
    </div>
</section>
