section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50rem, fr));
    grid-gap: 2em;
    padding: 2em;
  }

* {
    color: #fff;
}

// h1 {
//     font-size: 36px;
//     font-weight: 700;
// }

.question-group {
    font-size: 14px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 0.5rem;
    padding: 0.5em;
}

.answer-group {
    background: rgba(255, 255, 255, 0.375);
    border-radius: 0.5rem;
}

.section-container {
    width: 40%;
    
    
}

form div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-bottom: 1.5rem;

    label {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

}

button {
    color: #FFF;
    background: linear-gradient(85.93deg, #fab46e 0%, #f15a50 100%);
    padding: 12px 16px;
    border-radius: 2rem;
    width: 160px;
    cursor: pointer;
    // margin-left: 100px;
}