:host {
    display: block;
  }

  * {
      color:#FFF;
      font-size: 1.3em;
  }


  .question {
    background: rgba(255, 255, 255, 0.08);
    color:black;
    box-shadow: 0 8px 32px rgba(black, 0.16);
    padding: 1em;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column; 
    align-items: flex-start;
  }