h1 {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    
}

* {
    color: #fff;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50rem, fr));
  grid-gap: 2em;
  padding: 2em;
}

.btn__homepage {
    background: linear-gradient(85.93deg, #FAB46E 0%, #F15A50 100%);
    width: 160px;
    margin-right: 10px;
    height: 40px;
    left: 1120px;
    top: 172px;
    border-radius: 32px;
    cursor: pointer;
 }