
<button *ngIf = "authentService.isLogged()" [routerLink]="['questions/create']" class = "btn__homepage">Posez votre question</button>
<section *ngIf="questionService.questions.length">
    <div *ngFor="let question of questionService.questions">
        <app-question [question]="question" [routerLink]="['answers/question', question.id]"></app-question>
    </div>
</section>
