<section>
    <div class="section-container">
    <form class="form-group" (ngSubmit)="onSubmitLoggin()" ngNativeValidate>
          <div >
            <label for="username">Pseudo</label>
            <input type="text" name="username" [(ngModel)]= "username" required/>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" [(ngModel)]= "password" required/>
          </div>
          <div class="form-group">
            <button type = "submit" class="btn btn-primary btn-block">
              Se connecter
            </button>
          </div>
    </form>
    </div>
    </section>
