<section>
    <div class="section-container">
        <div class="back">
            <a routerLink="">
                Retour
            </a>
        </div>
        <h1>Posez votre question</h1>

        <form id="createquestion" (ngSubmit)="onSubmitCreateQuestion()" ngNativeValidate>
            <div class="create-question"><label for="title">Titre</label><input type="text" name="title"
                    [(ngModel)]="question.title" required>
            </div>
            <div class="create-question"><label for="content">Contenu</label><textarea rows="7"
                name="content" [(ngModel)]="question.content" required></textarea>
            </div>
            <div class="create-question">
                <button>Ajouter la question</button>
            </div>
        </form>
    </div>

</section>